@media print {
  @page {
    size: A4 portrait;
    margin: 0.5cm;
  }
}

.app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.85em;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: black 2px solid;
  padding: 1em;
  max-width: 14rem;
  page-break-inside: avoid;
  span:first-child {
    margin-right: 1em;
  }
  span:nth-child(2) {
    font-weight: bolder;
  }
}